<div id="{{id}}" class="fn-block{{#if is_private}} private{{/if}}">
    <pre class="fn-definition rust"><code>{{definition}}</code></pre>
    <div class="fn-description md">
        {{markdown}}
    </div>
</div>