<div id="{{id}}" class="fn-block">
    <a href="#{{id}}">
        <pre class="fn-definition rust"><code>{{definition}}</code></pre>
    </a>
    <div class="fn-description md">
        {{markdown}}
    </div>
</div>